PASSWORD_HASH_SECRET='password_hash_secret'
DEVICE_IDENTITY_SECRET = 'rrhf'
JWT_SECRET = 'jwt_secret'
PASSWORD_RESEST_SECRET='fdslkfsdkfksdr'
DEVICE_SHARE_LINK_SECRET = 'hrvuwvr'
JWT_REFRESH_SECRET = 'fdsfsdfsdfs'
JWT_SECRET_PASSANGER= 'fdslkfsdkfksdk'
MONGO_URL='mongodb://localhost:27017'
MONGO_DATABASE='locationtracking'
JWT_SECRET_DRIVER='fdslkfsdkfksd'
PARSER_URL = 'http://164.52.203.190:8082'
FRONTEND_URL='https://a44b-106-51-154-106.ngrok-free.app'
JWT_SECRET_VENDOR='fdslkfsdkfkjrwv'
JWT_SECRET_ADMIN='vihwbvhbwvjw'
JWT_REFRESH_SECRET_ADMIN='owbvbwivbiwhr'


POSTGRES_USER='postgres'
POSTGRES_PASSWORD='password'
POSTGRES_HOST='localhost'
POSTGRES_PORT=5432
POSTGRES_DATABASE='locationtracking'

REDIS_HOST = 'localhost'
REDIS_PORT = 6379
REDIS_PASSWORD = ''
REDIS_HOST = '192.168.1.10'
REDIS_HOST_TRACKER = 127.0.0.1

